//Go to materialpalette.com for color design
$primary-color: #673ab7;
$primary-color-dark: #512da8;
$accent-color: #009688;
$text-color: #ffffff;
$alt-text: #212121;
$secondary-text: #757575;


// Fonts
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$padding-sm: 0.5em;

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: $primary-font;
 line-height: 1.75;
 overflow-x: hidden;
}

body{
  position: relative;
}

h1,h2,h3,h4,h5,h6{
  font-family: $secondary-font;
}

.btn{
padding: $padding-sm;
}

.hidden{
  display: none;
  transition-delay: 1s;
  transition-duration: 3s;
}

a{
  color: $accent-color;
  text-decoration: none;
}

a:hover{
 color: $text-color;
 font-weight: bold;
 font-size: 1.2em;
}

header{
  padding: $padding-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $text-color;
  position: sticky;
  height: 70px;
  width: 100%;
  span{
    cursor: pointer;
  }
}

nav{
  height: calc(100vh - 70px);
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  height: calc(100vh - 70px);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  #welcome{
  }
}

main > div{
  height: 100%;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  //justify-content: center;
  //align-items: center;
}










